/* BOOTSTRAP OVERRIDE */
a {
    text-decoration: none;
}

.accordion-button::after {
    background-image: none;
    width: 0;
    height: 0;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
}

button.accordion-button:focus {
    box-shadow: none;
}

/* HEADER */
body {
    padding-top: 76px;
}

.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05),
                0 4px 8px 0 rgba(0, 0, 0, .05);
}

/* QUOTE */
#home-quote {
    background: url('../img/bg-quote.jpg') center center;
    background-size: cover;
}

/* PLANOS */
.lista-plano li + li {
    border-top: 1px solid rgba(0,0,0,.2);
}

.lista-plano li {
    padding: 1rem;
}

/* RESPONSIVE */
@media (max-width: 767px) {
    /* header */
    body {
        padding-top: 0;
    }
    .fixed-top {
        position: relative;
    }

    /* quote */
    #home-quote .display-4 {
        font-size: 2.3rem;
    }
}